body {
    font-family: 'Book', Arial, Helvetica, sans-serif;
    color: $black;
}

h1 {
    @include font-size(4rem);
    line-height: 3em;
}

h2 {
    @include font-size(1.8rem);
    line-height: 3em;
}

p {
    @include font-size(1.2rem);
    line-height: 1.2em;
}
